@model IEnumerable<VaccineSystem.Models.Vaccine>

@{
    ViewData["Title"] = "Listagem de vacinas";
}

<h1>
    Listagem de vacinas
</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        Cadastrar Vacina
    </a>
</p>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccine_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccine_value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccine_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_vaccine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vaccine_name)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.vaccine_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vaccine_date)
            </td>
            <td>
                <a asp-action="Edit" title="Editar" class="btn btn-warning" asp-route-id="@item.id_vaccine">
                    <i class="fas fa-pen"></i>
                </a>
                <a asp-action="Details" title="Visualizar" class="btn btn-primary" asp-route-id="@item.id_vaccine">
                    <i class="fas fa-eye"></i>
                </a>
                <a asp-action="Delete" title="Deletar" class="btn btn-danger" asp-route-id="@item.id_vaccine">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    $(document).ready(() => {
        // APLICA O DATATABLE COM A LÍNGUA PORTUGUESA
        $(".table").DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
            }
        });
    });
</script>